.pb-30{
    padding-bottom: 30px;
}
.mb-95{
    margin-bottom: 95px;
}
.pb-82{
    padding-bottom: 82px;
}
.pt-82{
    padding-top: 82px;
}
.bg-albaster{
    background-color: #F7F7F7;
}
.mb-55{
    margin-bottom: 55px;
}
.pl-110{
    padding-left: 110px;
}
.pr-110{
    padding-right: 110px;
}